{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark">
            404
          </span>
          <h1 class="h2 mb-4">ページが見つかりません</h1>
          <div class="content">
            <p>
              お探しのページは削除された、名前が変更された、または一時的に利用できない可能性があります。
            </p>
          </div>
          <a href="{{ site.BaseURL | relLangURL }}" class="btn btn-primary mt-8">
            ホームに戻る
          </a>
        </div>
      </div>
    </div>
  </section> {{ end }}